<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InoutProject-Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6C5058E266F6F7C00981CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C505A9266F6F8000981CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6C505B4266F6F8000981CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
